
    <div class="row">
        <div class="col-md-4 child">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam eget ornare lacus. Nulla sed vulputate mauris.
            Nuncnec urna vel sapien mattis consectetur sit amet eu tellus.
        </div>
        <div class="col-md-4 child">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam eget ornare lacus. Nulla sed vulputate mauris.
            Nuncnec urna vel sapien mattis consectetur sit amet eu tellus.
            Suspendisse tempus, justo sed posuere maximus, velit purus dictum lacus, nec vulputate arcu neque et elit. Aliquam viverra vitae est eu suscipit. Donec nec nequeeu sapien blandit pretium et quis est.
        </div>
        <div class="col-md-4 child">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam eget ornare lacus. Nulla sed vulputate mauris.
            Nuncnec urna vel sapien mattis consectetur sit amet eu tellus. Suspendisse tempus, justo sed posuere maximus, velit purus dictum lacus, nec vulputate arcu neque et elit.
            Aliquam viverra vitae est eu suscipit. Donec nec nequeeu sapien blandit pretium et quis est. Sed malesuada sit amet mi eget pulvinar. Mauris posuere ac elit in dapibus.
            Duis ut nunc at diam volutpatultrices non sit amet nulla. Aenean non diam tellus.
        </div>
    </div>

