<div class="container">
    <div class="row">
        <div class="col-md-6 child">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-test">Some basic description text</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 child">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-test">Some basic description text</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
